.header {
  background: #fff;
  padding: 1.6rem 2.4rem;
  border-bottom: 1px solid var(--color-border);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brandTitle {
  font-family: "Cinzel", serif;
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: var(--color-text);
  text-transform: uppercase;
  white-space: nowrap;
  text-decoration: none;
}
.logo {
  text-decoration: none;
}

.nav {
  display: flex;
  gap: 2.4rem;
  align-items: center;
}

.link,
.active {
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-text);

  padding: 0.4rem 0;
  line-height: 1;
  position: relative;
}

.active {
  color: var(--color-primary);
}

.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.6rem;
  width: 100%;
  height: 0.2rem;
  background-color: var(--color-primary);
  border-radius: 1rem;
}